/* Reset */
body, h1, h2, h3, p, input {
  margin: 0;
}

/* General */
* {
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-decoration: none;
}

:root {
  --main-color: #9356DC;
  --secondary-color: #FF79DA;
  --tertiary-color: #99E2D0;
  --background-color: #F6F6F6; /*Light Grey*/
}

body {
  background-color: var(--background-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Loader */
.loader {
  background-color: #FFFFFF;
  position: fixed;
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 2;
  animation: hide 2s 800ms forwards;
}
@keyframes hide {
  0% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.loader__text {
  display: block;
  font-family: "Shrikhand", sans-serif;
  font-size: 2em;
  font-weight: 500;
  margin-top: 30vh;
  color: var(--main-color);
  animation: loading 500ms ease-in-out 500ms 5;
}
.loader__img {
  background: linear-gradient(var(--main-color), var(--tertiary-color), var(--secondary-color));
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  animation: loading 500ms ease-in-out 500ms 5 both;
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    display: none;
  }
}

/* Header */
.header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.header__logo {
  width: 162px;
  height: 44px;
}

/* Location */
.location {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 50px;
}
.location__input {
  background: none;
  border: none;
  font-size: 1em;
  font-weight: 500;
  width: 128px;
  color: #353535;
  position: relative;
  z-index: 1;
}
.location ::placeholder {
  color: #353535;
  opacity: 1; /* Mozilla Firefox */
}

/* Heading */
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 287px;
  gap: 20px;
}
.heading__title {
  font-size: 1.5em;
  font-weight: 700;
  width: 75%;
  text-align: center;
}
.heading__text {
  text-align: center;
  font-size: 1.125em;
  font-weight: 300;
}
.heading__button {
  background: var(--Button-Gradient, linear-gradient(357deg, #9356DC -11.44%, #FF79DA 123.93%));
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  width: 218px;
  height: 50px;
  color: #FFFFFF;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.heading__button:hover {
  filter: brightness(1.12);
  transition: all 1s ease-out;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/* Step */
.step {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  gap: 25px;
  padding-top: 50px;
}
.step__title {
  display: flex;
  justify-content: center;
  margin-left: -180px;
  padding-left: 20px;
}
.step__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.step__list__card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.step__list__card__num {
  background-color: var(--main-color);
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.886em;
  font-weight: 500;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: -12px;
  z-index: 1;
}
.step__list__card__container {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  gap: 25px;
  border-radius: 20px;
  width: 322px;
  height: 72px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.step__list__card__container__icon {
  color: #7E7E7E;
  padding-left: 30px;
}
.step__list__card__container__icon--purple {
  color: var(--main-color);
  padding-left: 30px;
}
.step__list__card__container__text {
  font-size: 1em;
  font-weight: 500;
}

/* Restaurants */
.restaurants {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 60px;
}
.restaurants__title {
  font-size: 1.5em;
  font-weight: 700;
  padding: 50px 0 0 20px;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 18px;
}
.restaurants__list__card {
  background-color: #FFFFFF;
  position: relative;
  border-radius: 15px;
  height: 251px;
  width: 340px;
}
.restaurants__list__card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.restaurants__list__card__link__img {
  border-radius: 15px 15px 0 0;
  height: 174px;
  object-fit: cover;
  object-position: bottom;
}
.restaurants__list__card__link .position {
  object-position: 0 60%;
}
.restaurants__list__card__link__new {
  background-color: var(--tertiary-color);
  color: #008766;
  font-size: 0.875em;
  font-weight: 500;
  position: absolute;
  padding: 5px 12px;
  border-radius: 2px;
  top: 7%;
  right: 4%;
}
.restaurants__list__card__link__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 25px 0 13px;
}
.restaurants__list__card__link__container__textbox {
  display: flex;
  flex-direction: column;
}
.restaurants__list__card__link__container__textbox__title {
  font-size: 1.125em;
  font-weight: 700;
}
.restaurants__list__card__link__container__textbox__text {
  font-size: 1.063em;
  font-weight: 300;
}
.restaurants__list__card__emptyheart {
  position: absolute;
  right: 19px;
  bottom: 29px;
}
.restaurants__list__card__heart {
  position: absolute;
  cursor: pointer;
  right: 19px;
  bottom: 29px;
  height: 21px;
  width: 23px;
  z-index: 2;
  opacity: 0;
}
.restaurants__list__card__heart:checked + .restaurants__list__card__heart__full {
  animation: fill 300ms ease both;
}
@keyframes fill {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}
.restaurants__list__card__heart:not(:checked) + .restaurants__list__card__heart__full {
  animation: unfill 300ms ease both;
}
@keyframes unfill {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
  }
}
.restaurants__list__card__heart__full {
  opacity: 0;
  position: absolute;
  right: 19px;
  bottom: 29px;
}
.restaurants__list__card__heartload {
  position: absolute;
  right: 19px;
  bottom: 29px;
  z-index: 1;
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(1000deg) brightness(100%) contrast(100%);
  animation: heartload 1s ease forwards;
}
@keyframes heartload {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Footer */
.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 22px;
  gap: 16px;
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  color: #FFFFFF;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__list__container {
  display: flex;
  gap: 11px;
}
.footer__list__container__icon {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #FFFFFF;
}
.footer__list__container__link {
  font-size: 1em;
  font-weight: 500;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}
.footer__list__container2 {
  display: flex;
  gap: 11px;
}
.footer__list__container2__icon {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #FFFFFF;
}
.footer__list__container2__link {
  font-size: 1em;
  font-weight: 500;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}
.footer__list__link {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-weight: 400;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}

/****** Media queries ***********/
/* Medium devices (tablets, higher than 600px) */
@media (min-width: 600px) {
  .heading {
    height: 239px;
  }
  .heading__title {
    font-size: 2em;
    width: unset;
  }
  .heading__text {
    padding-bottom: 10px;
  }
}
/* Large devices (laptop, higher than 1080px) */
@media (min-width: 1100px) {
  .heading {
    height: 239px;
  }
  .heading__title {
    font-size: 2.5em;
    width: unset;
  }
  .heading__text {
    padding-bottom: 10px;
  }
  .step {
    height: 230px;
    justify-content: center;
    padding-top: unset;
  }
  .step__title {
    margin-left: -875px;
    padding-left: unset;
  }
  .step__list {
    flex-direction: row;
    justify-content: center;
  }
  .restaurants {
    padding-bottom: 30px;
  }
  .restaurants__title {
    display: flex;
    justify-content: center;
    margin-left: -820px;
    padding-top: 30px;
  }
  .restaurants__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .restaurants__list__card {
    width: 440px;
  }
  .restaurants__list__card__link__img {
    object-position: 0 68%;
  }
  .footer {
    height: 74px;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-right: 50px;
  }
  .footer__list {
    flex-direction: row;
  }
  .footer__list__container {
    width: 190px;
  }
  .footer__list__container2 {
    width: 168px;
    align-items: center;
    padding-right: 20px;
  }
  .footer__list__link {
    width: 130px;
  }
}
/* Large devices (laptop, higher than 1440px) */
@media (min-width: 1440px) {
  .restaurants__title {
    margin-left: -970px;
  }
  .restaurants__list {
    column-gap: 100px;
    padding: 0 166px;
  }
  .restaurants__list__card {
    width: 490px;
  }
}

/*# sourceMappingURL=index.css.map */
